body {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
}

/* Шапка */

.header {
  display: flex;
  max-width: 100%;
  /* width: 1440px; */
  height: 109px;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

/* Меню */

.header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__links-list {
  list-style-type: circle;
  display: flex;
  flex-direction: row;
}

.header__links-list-item {
  margin-right: 12px;
  margin-left: 13px;
}
.header__links-list-item:first-child {
  list-style-type: none;
  margin-left: 0;
}

.header__links-list-item:last-child {
  margin-right: 0;
}

.header__links-list__no_underline {
  text-decoration: none;
}

/* Логотип */

.logo {
  text-align: center;
}

.logo_image {
  width: 100%;
  height: 105px;
}

/* Адресс */

.header__address {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  

}

/* Входная секция */

.cover {
  position: relative;
  margin-top: 92px;
  width: 100%;
  min-width: 1440px;
  height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  background-size:cover;
  color: white;

}

.cover__pic {
  width: 100%;
  height: 100%;
}