body {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
}

/* Шапка */

.header {
  display: flex;
  max-width: 100%;
  height: 109px;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

/* Меню */

.header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__links-list {
  list-style-type: circle;
  display: flex;
  flex-direction: row;
}

.header__links-list-item {
  margin-right: 12px;
  margin-left: 13px;
}
.header__links-list-item:first-child {
  list-style-type: none;
  margin-left: 0;
}

.header__links-list-item:last-child {
  margin-right: 0;
}

.header__links-list__no_underline {
  text-decoration: none;
}

/* Логотип */

.logo {
  text-align: center;
  display: block;
  width: 148px;
}

.logo_image {
  width: 100%;
  height: 105px;
}

/* Адресс */

.header__address {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

/* Входная секция */

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1340px;
  margin: auto;
}

.cover {
  position: relative;
  margin-top: 92px;
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: top center;
  color:white;
  z-index: -1;


}


/* Пустой div */

.overlay {
  position: absolute;
  /* display: inline-block; */
  /* width: 100%;
  height: 100%; */
  background-color: rgba(0, 0, 0, 0.6);
  /* background-size:cover; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
  
/* h1 */

.cover__title {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  white-space: ;

}

.accent-span {
  display: block;
}
.letter-spacing-extended{
  letter-spacing: 0.5em; 
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/* Секция с карточками */

.lots {
  margin: auto;
  padding-top: 180px;
  width: 100%;
  height: 579px;
  box-sizing: border-box;
  position: relative;
}

.title {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
}

.lots__title {
  padding-left: 40px;
}

.lots__box {
  display: flex;
  list-style-type: none;
  padding-top: 27px;
  position: relative;
  justify-content: space-between;
  padding-bottom: 30px;
}
.lots__box__cards-item {
  
  
}
.lots__box__img {
  width: 430px;
  display: block;
  max-height: 450px;
  
   
}

.lots__box_pic {
  width: 100%;

}

.link {
  margin-left: 40px;
  font-size: 20px;
}
/* Секция с информацией об аукционе */

.about {
  margin: auto;
  padding-top: 192px;
  max-width: 100%;
  height: 487px;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
  display: flex;
  align-items:center;
}
